{% extends "games/base.html" %}
{% load static %}

{% block title %}账号设置 - HTML5游戏平台{% endblock %}

{% block extra_css %}
    {% include "games/includes/profile_styles.html" %}
    {% include "games/includes/settings_styles.html" %}
{% endblock %}

{% block content %}
    <!-- 个人资料头部 -->
    {% include "games/includes/profile_header.html" %}

    <!-- 设置内容容器 -->
    <div class="container px-4">
        <!-- 选项卡导航 -->
        {% include "games/includes/profile_tabs.html" with active_tab="settings" %}
        
        <!-- 选项卡内容 -->
        <div class="tab-content" id="profileTabContent">
            <!-- 设置内容 -->
            {% include "games/includes/settings_content.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% include "games/includes/settings_scripts.html" %}
{% endblock %}