{% load static %}
<ul class="nav nav-tabs" id="authTab" role="tablist">
    {% if enable_login %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if not tab or tab == 'login' %}active{% endif %}" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab">登录</button>
    </li>
    {% endif %}
    {% if enable_register %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {% if tab == 'register' %}active{% endif %}" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab">注册</button>
    </li>
    {% endif %}
</ul>

<div class="tab-content" id="authTabContent">
    <!-- 登录表单 -->
    {% if enable_login %}
    <div class="tab-pane fade {% if not tab or tab == 'login' %}show active{% endif %}" id="login" role="tabpanel">
        {% if allauth_enabled and login_form %}
            {% include 'games/registration/allauth_login_form.html' %}
        {% else %}
            {% include 'games/registration/login_form.html' %}
        {% endif %}
    </div>
    {% endif %}
    
    <!-- 注册表单 -->
    {% if enable_register %}
    <div class="tab-pane fade {% if tab == 'register' %}show active{% endif %}" id="register" role="tabpanel">
        {% if allauth_enabled and form %}
            {% include 'games/registration/allauth_register_form.html' %}
        {% else %}
            {% include 'games/registration/register_form.html' %}
        {% endif %}
    </div>
    {% endif %}
</div> 