{% load i18n %}
{% if children %}
<ul class="navbar-nav me-auto">
    {% for child in children %}
        {% if child.children %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" 
                   id="navbarDropdown{{ forloop.counter }}" role="button" data-bs-toggle="dropdown">
                    {{ child.get_menu_title }}
                </a>
                <ul class="dropdown-menu">
                    {% for subchild in child.children %}
                        <li>
                            <a class="dropdown-item" href="{{ subchild.attr.redirect_url|default:subchild.get_absolute_url }}">
                                {{ subchild.get_menu_title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {% if child.selected %}active{% endif %}" 
                   href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                    {{ child.get_menu_title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %} 