{% load static %}

<section class="hero-section">
    <div class="container-fluid px-0">
        <div class="hero-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <h1>发现最好玩的HTML5游戏</h1>
                        <p class="hero-text">数千款精选游戏，随时随地畅玩，无需下载安装</p>
                        <a href="http://127.0.0.1:8000/categories/" class="btn btn-hero">开始探索</a>
                    </div>
                    <div class="col-lg-6 col-md-5 d-none d-md-block text-end">
                        <img src="{% static 'img/hero-arcade.png' %}" onerror="this.onerror=null; this.src='https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80';" class="img-fluid hero-image" alt="游戏展示">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 